<app-header id="Header_Desktop"></app-header>
<body>
    <section>
        <h1>Ayuda - Centro de Reclamos y Consultas</h1>
        <h2>Descripción del Sistema</h2>
        <p>MEDi, es una plataforma destinada a mejorar y modernizar la comunicación con nuestros vecinos, facilitando el contacto con las distintas áreas de la administración Municipal, desde cualquier dispositivo que cuente con internet y un navegador Web. El sistema permite un seguimiento de la comunicación y las áreas serán monitoreadas por el ejecutivo para que cumplan con los requerimientos de los vecinos, detrás del sistema hay personas responsables que deben dar respuestas.</p>
        <h2>Pasos para Presentar un Reclamo o Sugerencia</h2>
        <ul type="number">
            <li>Reúne información relevante sobre el problema o sugerencia.</li>
            <li>Accede al formulario de reclamo o sugerencia en nuestro sitio web.</li>
            <li>Completa el formulario con todos los detalles necesarios.</li>
            <li>Envía el formulario y realiza un seguimiento del estado de tu reclamo o sugerencia.</li>
        </ul>
        <h2>Guía para Completar el Formulario</h2>
        <p>Para asegurarte de que tu reclamo o sugerencia sea procesado de manera eficiente, por favor sigue estas recomendaciones al completar el formulario:</p>
        <ul>
            <li>Proporciona información precisa y detallada.</li>
            <li>Utiliza un lenguaje claro y conciso.</li>
            <li>Incluye cualquier documentación relevante si es posible.</li>
            <li>Selecciona el tipo correcto de reclamo (reclamo, sugerencia, consulta, etc.).</li>
        </ul>
        <h4>Preguntas Frecuentes (FAQ)</h4>
        <h2>¿Cómo puedo realizar un seguimiento de mi reclamo o sugerencia?</h2>
        <p>Puedes realizar un seguimiento del estado de tu reclamo o sugerencia iniciando sesión en tu cuenta en nuestro sitio web y accediendo a la sección correspondiente.</p>
        <h2>¿Qué debo hacer si necesito asistencia adicional?</h2>
        <p>Si necesitas ayuda adicional o tienes alguna consulta, por favor ponte en contacto con nuestro equipo de soporte a través de los canales de comunicación proporcionados en nuestra página de contacto.</p>
    </section>
</body>
<app-footer></app-footer>