<footer>

    <div class="container">
        <div class="Cajas">
            <h2>Accesos rápidos</h2>
            <a><img src="../../../MEDi/assets/icons/ARROW_small.png"> Sobre Nosotros</a>
            <a><img src="../../../MEDi/assets/icons/ARROW_small.png"> Contáctanos</a>
            <a><img src="../../../MEDi/assets/icons/ARROW_small.png">Términos y Condiciones</a>
            <a><img src="../../../MEDi/assets/icons/ARROW_small.png"> Ayuda</a>
        </div>
        <div class="Cajas">
            <h2>Contacto</h2>
            <p><img src="../../../MEDi/assets/icons/location.png"> Calle Eva Peron N° 691</p>
            <p><img src="../../../MEDi/assets/icons/phone.png">+54 9 383466-9002</p>
            <p (click)="RedirectTo('mailto:amartinez@tinogasta.gob.ar')"><img src="../../../MEDi/assets/icons/mail.png">amartinez&#64;tinogasta.gob.ar</p>
        </div>
        <div class="Cajas">
            <h2>Redes</h2>
            <div class="Container_Logos">
                <div class="Images_Logos" (click)="RedirectTo('https://www.facebook.com/municipio.tinogasta')">
                    <img src="../../../MEDi/assets/icons/Facebook.png">
                </div>
                <div class="Images_Logos" (click)="RedirectTo('https://www.instagram.com/municipiotinogasta/')">
                    <img src="../../../MEDi/assets/icons/Instagram.png">
                </div>
                <div class="Images_Logos" (click)="RedirectTo('https://www.youtube.com/@municipiotinogasta')">
                    <img src="../../../MEDi/assets/icons/YouTube.png"></div>
                </div>
                </div>
        <div class="Cajas">
            <h2>Enlaces</h2>
            <ul>
                <li (click)="RedirectTo('https://Tinogasta.gob.ar')">Tinogasta.gob.ar</li>
                <li (click)="RedirectTo('https://Tinogasta.tur.ar')">Tinogasta.tur.ar</li>
                <li (click)="RedirectTo('https://Tinogasta.gob.ar/Invertir-Tinogasta')">Invertir Tinogasta</li>
            </ul>
        </div>
    </div>
        <div class="caja2">
            <p class="Credits_Municipio"><strong style="font-weight: 100; text-decoration: underline;">Mesa de Entrada Digital MEDi</strong>. Tinogasta
                Municipio</p><img class="Logo_Municipio" src="../../../MEDi/assets/img/Logo 2.png">
                <p class="Credits_Footer" (click)="RedirectTo('https://AristeIA.com.ar')">Desarrollado por <img class="Logo_AristeIA" src="https://aristeia.com.ar/img/logo1.png" alt="Logo AristeIA"></p>
        </div>
</footer>