.Section {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.Table_Comunicaciones {
    padding: 0;
    height: 80%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 120, 50) white;
}
@media (min-width: 1001px) {
    .Table_Comunicaciones {
        margin: 0 0 0 15%;
        width: 80%;
    }
    .Options_Menu {
        width: 50%;
        height: 80%;
    }
    .Title_row {
        font-size: 120%;
    }
    .Span_State {
        font-size: 80%;
    }
    .Statistics_Row {
        display: flex;
    }
    .title_options {
        font-size: 110%;
        img {
            width: 30px;
            position: absolute;
            top: 5px;
            right: 10px;
            transition: .3s;
            cursor: pointer;
        }
    }
}
@media (max-width: 1000px) {
    .Table_Comunicaciones {
        margin: 0;
        width: 100%;
    }
    .Options_Menu {
        width: 100%;
        height: 85%;
    }
    .Title_row {
        font-size: 80%;
    }
    .Span_State {
        font-size: 80%;
    }
    .Statistics_Row {
        display: none;
    }
    .Row_Numbers {
        font-size: 70%;
    }
    .title_options {
        font-size: 100%;
        img {
            width: 20px;
            position: absolute;
            top: 5px;
            right: 5px;
            transition: .3s;
            cursor: pointer;
        }
    }
}
.Scroll_Container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.Comun_Row {
    margin: 0 0 20px 0;
    padding: 0;
    width: 98%;
    height: 130px;
    background-color: rgb(255, 120, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 2px solid rgb(255, 120, 50);
    .Icon_Area_Box {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        .Icon_Area {
            transition: .3s;
            margin: 0;
            width: 50%;
            cursor: pointer;
        }
        .Icon_Area:hover {
            transition: .3s;
            filter: brightness(70%);
            scale: 0.95;
        }
    }
    .Info_Row {
        margin: 0;
        padding: 0;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Title_row {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        img {
            transition: .3s;
            position: absolute;
            top: 10%;
            right: 0;
            height: 80%;
            cursor: pointer;
        }
        img:hover {
            transition: .3s;
            filter: brightness(70%);
        }
    }
    .Row_Numbers {
        margin: 0 0 0 0;
        padding: 0;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        font-weight: bold;
        color: rgb(255, 120, 50);
        border-radius: 10px 0 0 0;
    }
    .Statistics_Box {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: white;
        position: relative;
        .Informacion_BNT {
            position: absolute;
            top: 3px;
            left: 3px;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 120, 50);
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            transition: .3s;
        }
        .Informacion_BNT:hover {
            transition: .3s;
            filter: brightness(70%);
        }
        .Statistics_Row {
            margin: 0;
            padding: 0;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }
    }

}
.Span_State {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(40,40,40);
    cursor: help;
    color: white;
}

.Back_Options {
    animation-name: Intro_Animation;
    animation-duration: .5s;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    .Options_Menu {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: start;
        align-content: center;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        .title_options{ 
            margin: 0;
            padding: 0;
            width: 100%;
            height: 15%;
            color: white;
            background-color: rgb(255, 120, 50);
            text-align: center;
            position: relative;
            font-weight: bold;
            align-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            img:hover {
                transition: .3s;
                filter: brightness(130%);
            }
        }
        .Scroll_Container_Options {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 85%;
            display: block;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: rgb(255,120,50) white;
            .Container_Options {
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                .Credenciales {
                    animation-name: Intro_Animation_Cred;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    margin: 20px 0 0 0;
                    padding: 0;
                    width: 90%;
                    height: 0px;
                    opacity: 0;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(40,40,40);
                    overflow: hidden;
                    p {
                        border-top: 1px solid white;
                        width: 90%;
                        margin: 0;
                        padding: 20px 0 0 0;
                        color: white;
                    }
                }
            }
        }
    }
}

@keyframes Intro_Animation_Cred {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 200px;
    }
    
}

@keyframes Intro_Animation {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        scale: 1;
        opacity: 1;
    }
    
}