/* .Super_Container {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../../assets/img/Background_Super_Admin.jpg');
    background-position: center bottom;
    font-size: 90%;
}
#Loader_Data_2 {
    transition: 0.5s ease-in-out;
    animation-name: Intro_Loader;
    animation-duration: .5s;
    margin: 0;
    padding: 5px 30px 5px 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 5px 5px;
    z-index: 2000;
    color: white;
    font-weight: bold;
    h4 {
        margin: 0 0 2px 0;
    }
    img { 
        height: 40px;
    }
}
@keyframes Intro_Loader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
@media (min-width: 769px) {

    .version_span {
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
    }

    .Fila_Pendiente {
        font-size: 0.7vw;
    }

    /////////////////Lista de Cuentas de Usuario (START)/////////////////
#Usuarios_Control_display {
    margin: 0 0 20px 0;
    padding: 0;
    width: 45%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.4);
    img {
        margin: 0;
        padding: 0;
        height: 80%;
    }
    .Info_User {
        padding: 0;
        margin: 0;
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
        border-left: 1px solid white;
        position: relative;
        h3 {
            margin: 0 0 0 1%;
            padding: 0;
            font-size: 90%;
        }
        p {
            margin: 0 0 0 1%;
            padding: 0;
            color: yellow;
            font-size: 90%;
        }
    }
}

/////////////////Lista de Cuentas de Usuario (END)/////////////////
    .Controlls_Admin {
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 60%;
        flex-direction: column;
    }
    .Estadistica_Basica {
        width: 48%;
    }
    .Info_Global {
        margin: 0;
        width: 48%;
    } 
    .Estadisticas_Basicas_c {
        width: 90%;
    }
    .Micro_Container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 33%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Super_Container {
        background-size: 100% 100%;
        height: 100vh;
    }
    .Bandeja_Entrada {
        height: 65%;
    }

    .Panel_Admin {
        width: 25%;
        height: 90%;
        margin: 0;
    }

    .Data_Show {
        width: 70%;
        height: 90%;
    }
    .Box_1 {
        width: 9%;
    }
    .Box_2 {
        width: 55%;
    }
    .Box_3 {
        width: 10%;

    }
    .Box_4 {
        width: 10%;

    }
    .Box_5 {
        width: 10%;
        font-size: 90%;
    }
}

@media (max-width: 768px) {

    .version_span {
        bottom: 0;
        right: 5px;
        transform: translate(0,0);
    }


    .Fila_Pendiente {
        font-size: 2vw;
    }

    .Estadisticas_Basicas_c {
        width: 100%;
    }
    /////////////////Lista de Cuentas de Usuario (START)/////////////////
#Usuarios_Control_display {
    margin: 0 0 20px 0;
    padding: 0;
    width: 45%;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 153, 255, 0.4);
    img {
        margin: 0;
        padding: 0;
        width: 50px;
    }
    .Info_User {
        padding: 0;
        margin: 0;
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        border-left: 1px solid white;
        position: relative;
        h3 {
            margin: 3px 0 5px 3%;
            padding: 0;
            font-size: 95%;
        }
        p {
            margin: 3px 0 0 3%;
            padding: 0;
            color: yellow;
            font-size: 95%;
        }
    }
}

/////////////////Lista de Cuentas de Usuario (END)/////////////////
    .Controlls_Admin {
        justify-content: start;
        align-items: start;
        width: 95%;
        height: auto;
        flex-wrap: wrap;
        button {
            margin: 3px 0 10px 2%;
            width: 30%;
        }
    }
    .Estadistica_Basica {
        width: 100%;
    }
    .Info_Global {
        margin: 15px 0 0 0;
        width: 100%;
    }
    .Micro_Container {
        margin: 20px 0 20px 0;
        padding: 0;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .Super_Container {
        background-position: center bottom;
        background-size: auto 100%;
        flex-direction: column;
        height: auto;
    }

    .Panel_Admin {
        width: 95%;
        height: 400px;
        margin: 20px 0 20px 0;
    }

    .Data_Show {
        width: 95%;
        height: 90%;
    }

    .Bandeja_Entrada {
        font-size: 60%;
        height: 70%;
    }
    .Box_1 {
        width: 14%;
    }
    .Box_2 {
        width: 55%;
    }
    .Box_3 {
        width: 10%;
        font-size: 80%;
    }
    .Box_4 {
        width: 10%;
        font-size: 80%;
    }
    .Box_5 {
        width: 10%;
        font-size: 70%;
    }
}

.Panel_Admin {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 119, 255, 0.2);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    text-align: center;
}

.Data_Show {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.Bandeja_Entrada {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgba(0, 255, 255, 0);
    background-image: linear-gradient( 114.3deg,  rgba(49,75,90,0.3) 48.8%, rgba(3,155,193,0.3) 94.9% );
    h1 {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 119, 255, 0.4);
        font-size: 130%;
    }
}

.Estadistica_Basica {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 57, 122, 0.5);
    color: rgb(40, 40, 40);
    overflow: hidden;
    position: relative;
}
.Info_Global {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 57, 122, 0.5);
    color: rgb(40, 40, 40);
    overflow: hidden;
    position: relative;
}
.Estadisticas_Basicas_c {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

.usuario_logo {
    margin: 20px 0 0 0;
    height: 50px;
}

.Scroll_Box_Container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.Controlls_Admin {
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    border: 1px solid white;
}

#Comunicaciones_Loader_Super_Admin {
    display: none;
}

#Estadisticas_Loader_2, #Comunicaciones_Loader_Super_Admin {
    animation-name: Intro_Map;
    animation-duration: .5s;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.Button_Enter {
    margin: 0;
    opacity: 0.7;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-family: Heebo;
    font-weight: bold;
    outline: none;
    border: none;
    background: rgba(3,163,216,1);
background: -moz-linear-gradient(top, rgba(3,163,216,1) 0%, rgba(0,110,138,1) 49%, rgba(0,145,189,1) 50%, rgba(3,163,216,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,163,216,1)), color-stop(49%, rgba(0,110,138,1)), color-stop(50%, rgba(0,145,189,1)), color-stop(100%, rgba(3,163,216,1)));
background: -webkit-linear-gradient(top, rgba(3,163,216,1) 0%, rgba(0,110,138,1) 49%, rgba(0,145,189,1) 50%, rgba(3,163,216,1) 100%);
background: -o-linear-gradient(top, rgba(3,163,216,1) 0%, rgba(0,110,138,1) 49%, rgba(0,145,189,1) 50%, rgba(3,163,216,1) 100%);
background: -ms-linear-gradient(top, rgba(3,163,216,1) 0%, rgba(0,110,138,1) 49%, rgba(0,145,189,1) 50%, rgba(3,163,216,1) 100%);
background: linear-gradient(to bottom, rgba(3,163,216,1) 0%, rgba(0,110,138,1) 49%, rgba(0,145,189,1) 50%, rgba(3,163,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a3d8', endColorstr='#03a3d8', GradientType=0 );
    text-shadow: 0 0 5px black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
position: absolute;
    right: 0;
    bottom: 0;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    color: white;
}
.Button_Enter:hover {
    transition: .3s;
    filter: brightness(130%);
    opacity: 1;
}
#Resumen_Global {
    margin: 0;
    padding: 0 1% 0 1%;
    width: 98%;
    height: auto;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: rgb(40,40,40);
    h4 {
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
    }
    .ngFor_Box {
        margin: 10px 0 10px 0;
        padding: 0;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        border: 1px solid rgb(100,100,100);
    }
    .Box_Data_Numbers {
        border-top: 1px solid rgb(50,50,50);
        margin: 00;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p {
            margin: 0;
        }
    }
}
.Scroll_Container_Info {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80%;
    display: block;
    overflow-y: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}
.Container_Pendientes {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Fila_Pendiente {
        margin: 0;
        padding: 0;
        width: 98%;
        height: 20px;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,81,156,0.6755077030812324) 45%, rgba(41,122,198,0.45702030812324934) 100%);
        text-shadow: 0 0 7px black;
        color: white;
        border-radius: 3px;
        border: 1px solid lightskyblue;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .p_n1 {
            height: 100%;
            width: 10%;
            margin: 0;
            padding: 0;
            text-align: center;
            border-right: 1px solid lightskyblue;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .p_n2 {
            height: 100%;
            width: 40%;
            margin: 0;
            padding: 0;
            text-align: center;
            border-right: 1px solid lightskyblue;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .p_n3 {
            height: 100%;
            width: 34%;
            margin: 0;
            padding: 0;
            border-right: 1px solid lightskyblue;
            text-align: center;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .p_n4 {
            height: 100%;
            width: 15%;
            margin: 0;
            padding: 0;
            text-align: center;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.hover_style {
    transition: .3s;
}
.hover_style:hover {
    transition: .3s;
    filter: brightness(130%);
}

.Buttons_Reclamos_Types {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0 5px 0;
}

 CSS 
.button-7 {
    width: 23%;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.version_span {
    font-size: 70%;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 0;
    position: absolute;
    cursor: pointer;
}
.version_span:hover {
    text-decoration: underline;
} */

.DashContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    display: block;
    position: relative;
}

.Router_Outlet {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@keyframes Intro_Side_Bar {
    from {
        opacity: 0;
        transform: translate(-100px,0);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}
@media (min-width: 1001px) {
    .Side_Bar {
        display: block;
    }
    .Menu_Cellphones {
        display: none;
    }
}
@media (max-width: 1000px) {
    .Side_Bar {
        display: none;
    }
    .Menu_Cellphones {
        display: flex;
    }
}
.Menu_Cellphones {
    animation-name: Intro_Side_Bar;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: .5s ease-in-out;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13dvh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 5;
    border-top: 1px solid rgb(255,120,50);
    img {
        transition: .2s;
        height: 70%;
    }
    img:active {
        transform: .01s;
        rotate: -30deg;
        scale: 0.7;
        filter: brightness(50%);
    }
}
@keyframes Intro_Menu {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
#Menu_Cellphones_SUPER_ADMIN {
    animation-name: Intro_Menu;
    animation-duration: .5s;
    transition: .2s ease-in-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 87dvh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.5) 46%, rgba(255,255,255,1) 100%);
    }
    .BOX_BUTTONS_MENU{ 
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
.Side_Bar {
    animation-name: Intro_Side_Bar;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: .5s ease-in-out;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 5;
    .Buttons_Bar {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        .Top_Box {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 80%;
            display: block;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgb(255, 120, 50) white;
            .Logo_MEDI {
                padding: 20px 0 20px 2.1%;
                width: 95%;
            }
        }
        .Bottom_Box {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: end;
            align-items: start;
            flex-direction: column;
        }
    }
}

.Dash_Buttons {
    transition: .3s;
    margin: 10px 0 10px 5%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 120, 50);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    cursor: pointer;
    img {
        margin: 0 10px 0 0;
        width: 40px;
    }
    span {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: Nunito;
        font-weight: bold;
    }
}
.Dash_Buttons:hover {
    transition: .3s;
    background-color: rgb(53, 193, 204);
}
.Dash_Buttons:active {
    transition: .1s;
    scale: 0.9;
    filter: brightness(50%);
}