
<!-- <section class="Super_Container">
    <aside class="Panel_Admin">
        <span (click)="this.custom.NavigateToVersion()" class="version_span">{{this.custom.Versionado_Global_App}}</span>
        <img class="usuario_logo" src="../../../MEDi/assets/icons/User_icon.png">
        <p>Has ingresado como Super Administrador</p>
        <fieldset class="Controlls_Admin">
            <legend>Opciones</legend>
            <button class="Buttons5" (click)="Resumen_Mensual()">Resumen</button>
            <button class="Buttons" (click)="UsuariosDisplay()">Ver Usuarios</button>
            <button class="Buttons" (click)="AreasDisplay()">Ver Áreas</button>
            <button class="Buttons3" (click)="NavigateToCreateArea()">Crear Área</button>
            <button class="Buttons4" (click)="AreasDisplay_2()">Editar Área</button>
        </fieldset>
        <button class="Buttons" (click)="NavigateToHome()">SALIR ⇘</button>
    </aside>
    <section class="Data_Show">
        <div id="Loader_Data_2">
            <h4>Cargando...</h4>
            <img src="../../../MEDi/assets/icons/Estadisticas_Loader.gif">
        </div>
        <div class="Bandeja_Entrada">
            <h1>{{Titulo_Dinamico}}</h1>
            <div class="Scroll_Box_Container">
                <div id="Resumen_Global">
                    <h4>Números Estadísticos de Cada Área</h4>
                    <p style="width: 100%; margin: 10px 0 0 0; padding: 0; text-align: start;">Consultado en fecha: {{formatDate | date: 'dd/MM/yyyy'}}</p>
                    <p style="width: 100%; margin: 0; padding: 0; text-align: start;">Hora: {{formatTime}}</p>
                    <div class="ngFor_Box" *ngFor="let Registro_4 of Registros_4">
                        <div style="display: flex; justify-content: start; align-items: center; margin: 0; width: 100%; height: 100%; background-color: rgb(0, 69, 148);;">
                            <p style="font-weight: bold; margin: 0 0 0 10px; color: rgb(255, 255, 255);">{{Registro_4.nombre_area}}</p>
                            <p style="margin: 0 0 0 10px; color: rgb(255, 255, 255);">| Tiempo Promedio de Resolución: {{Registro_4.promedio}}</p>
                        </div>
                        <div class="Box_Data_Numbers">
                            <p>Pendientes: {{Registro_4.pendientes}}</p>
                            <p>Iniciados: {{Registro_4.iniciados}}</p>
                            <p>Demorados: {{Registro_4.demorados}}</p>
                            <p>Resueltos: {{Registro_4.resueltos}}</p>
                        </div>
                    </div>
                    <button class="Buttons" style="margin: 20px 0 20px 0;" (click)="generarPDF()">Descargar PDF</button>
                </div>
                <div id="Usuarios_Control_display" *ngFor="let Registro of Registros_1">
                    <img src="../../../MEDi/assets/icons/users.png">
                    <div class="Info_User">
                        <h3 style="text-decoration: underline; text-shadow: 0 1px 3px black;" *ngIf="Registro.nombre_area">{{Registro.nombre_area}}</h3>
                        <h3 style="text-decoration: underline; text-shadow: 0 1px 3px black;" *ngIf="!Registro.nombre_area">Super Administrador</h3>
                        <h3>Rol: {{Registro.rol}}</h3>
                        <p>Usuario: {{Registro.user}}</p>
                        <p>Contraseña: {{Registro.pass}}</p>
                    </div>
                </div>
                <div id="Usuarios_Control_display" *ngFor="let Registro_2 of Registros_2">
                    <img src="../../../MEDi/assets/icons/Areas.png">
                    <div class="Info_User">
                        <h3 style="text-decoration: underline; text-shadow: 0 1px 3px black;">{{Registro_2.nombre_area}}</h3>
                        <h3>Descripción: {{Registro_2.descripcion}}</h3>
                        <button class="Button_Enter" (click)="Entry_Area(Registro_2.clave_poder)">Entrar ⇨</button>
                    </div>
                </div>
                <div id="Usuarios_Control_display" *ngFor="let Registro_3 of Registros_3">
                    <img src="../../../MEDi/assets/icons/Areas.png">
                    <div class="Info_User">
                        <h3>Área: "{{Registro_3.nombre_area}}"</h3>
                        <h3>Descripción: {{Registro_3.descripcion}}</h3>
                        <button class="Button_Enter" (click)="Modificar_Area(Registro_3.clave_poder)">Modificar ⇨</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Micro_Container">
            <div class="Estadistica_Basica">
                <app-estadistica-admin class="Estadisticas_Basicas_c"></app-estadistica-admin>
                <img id="Estadisticas_Loader_2" src="../../../MEDi/assets/icons/Estadisticas_Loader.gif">
            </div>
            <div class="Info_Global">
                <img id="Comunicaciones_Loader_Super_Admin" src="../../../MEDi/assets/icons/Estadisticas_Loader.gif">
                <p style="width: 100%; margin: 0; padding: 5px 0 5px 0; background-color: rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgb(0, 78, 162); text-align: center;">Información Actualizada</p>
                <h1 style="color: white; margin: 0; padding: 0;">Total de Comunicaciones Resueltas: {{Total_Resuelas}}</h1>
                <div class="Buttons_Reclamos_Types">
                    <button class="button-7" role="button" id="Button_Selector_SupAdm_1" (click)="Obtener_Comunicaciones(1)">Pendientes</button>
                    <button class="button-7" role="button" id="Button_Selector_SupAdm_2" (click)="Obtener_Comunicaciones(2)">Iniciados</button>
                    <button class="button-7" role="button" id="Button_Selector_SupAdm_3" (click)="Obtener_Comunicaciones(3)">Demorados</button>
                    <button class="button-7" role="button" id="Button_Selector_SupAdm_4" (click)="Obtener_Comunicaciones(4)">Resueltos</button>
                </div>
                <div class="Scroll_Container_Info">
                <div class="Container_Pendientes">
                    <div class="Fila_Pendiente" style="    background: rgb(0,101,214);
    background: linear-gradient(325deg, rgba(0,101,214,1) 0%, rgba(102,127,154,1) 100%);">
                        <p class="p_n1" style="font-weight: bold;">ID</p>
                        <p class="p_n2" style="font-weight: bold;">Asunto</p>
                        <p class="p_n3" style="font-weight: bold;">Área</p>
                        <p class="p_n4" style="font-weight: bold;">Fecha</p>
                    </div>
                    <div class="Fila_Pendiente hover_style" style="cursor: help;" *ngFor="let comun of Comunicaciones_Dinamicas_Row" title="N° {{comun.id}} - Fecha: {{comun.fecha | date: 'dd/MM/yyyy'}} - Asunto: {{comun.titulo}} - Descripción: {{comun.descripcion}} - Enviado a {{comun.nombre_area}}">
                        <p class="p_n1">{{comun.id}}</p>
                        <p class="p_n2">{{comun.titulo}}</p>
                        <p class="p_n3">{{comun.nombre_area}}</p>
                    <p class="p_n4">{{comun.fecha | date: 'dd/MM/yyyy'}}</p>
                    </div>
                   
                </div>
            </div>
            </div>
        </div>
   
         
      
    </section>
</section> -->

<section class="DashContainer GLOBAL_TRANSITION">
    <aside class="Side_Bar" id="PANEL_DASH">
        <div class="Buttons_Bar">
            <div class="Top_Box">
                <img class="Logo_MEDI" src="{{custom.src}}img/centro_de_reclamo_logon1.png" alt="Logo">
                <div style="width: 90%; height: 1px; background-color: rgb(255, 120, 50); margin: 0 0 0 5%;"></div>
                <button class="Dash_Buttons" (click)="navigate.ToHome()">
                    <img src="{{custom.src}}icons/Door_Icon.png" alt="Icon">
                    <span>Salir al Home</span>
                </button>
                <!-- <button class="Dash_Buttons">
                    <img src="{{custom.src}}Icons/closeSession.png" alt="Icon">
                    <span>Cerrar esta Sesión</span>
                </button> -->
                <div style="width: 90%; height: 1px; background-color: rgb(255, 120, 50); margin: 0 0 0 5%;"></div>
                <button class="Dash_Buttons">
                    <img src="{{custom.src}}icons/RESUMEN.png" alt="Icon">
                    <span>Resumen</span>
                </button>
                <button class="Dash_Buttons">
                    <img src="{{custom.src}}icons/AREA.png" alt="Icon">
                    <span>Ver Áreas Actuales</span>
                </button>
                <button class="Dash_Buttons" (click)="navigate.ToCreateArea()">
                    <img src="{{custom.src}}icons/AREA_ADD.png" alt="Icon">
                    <span>Crear Nueva Área</span>
                </button>
               
            </div>
            <div class="Bottom_Box">
                <div style="width: 90%; height: 1px; background-color: rgb(255, 120, 50); margin: 0 0 0 5%;"></div>
                <button class="Dash_Buttons" (click)="Toggle_Panel()">
                    <img src="{{custom.src}}icons/close_panel.png" alt="Icon" *ngIf="PanelShow">
                    <img src="{{custom.src}}icons/open_panel.png" alt="Icon" *ngIf="!PanelShow">
                    <span *ngIf="PanelShow">Contraer Panel</span>
                </button>
    
            </div>
        </div>
    </aside>
        <router-outlet class="Router_Outlet"/>
    </section>