<app-header id="Header_Desktop"></app-header>
<section id="changelog">
    <h2>Mejoras en la Mesa de Entrada Digital</h2>

    <div class="version">
        <h3 class="version-header">Versión 1.1.0</h3>
        <ul class="version-details">
            <li>Mejorado la apariencia visual y usabilidad del Panel de Administración del Super Admin.</li>
            <li>Mejorado el sistema de conteo estadístico de los estados de las comunicaciones en el Panel de Administración de las áreas.</li>
            <li>Agregado registro de tiempo desde la creación de las comunicaciones hasta ser iniciadas por las áreas responsables.</li>
            <li>Mejorado sistema de control de eficiencia en la respuesta y resolución de comunicaciones por parte de las áreas responsables.</li>
            <li>Agregado sistema de filtros avanzados y listado global de comunicaciones con información completa al panel de administración del Super Admin.</li>
            <li>Agregado la posibilidad al ciudadano de ver el mensaje dejado en la sección de "Seguimientos" de su comunicación luego de resolverse.</li>
            <li>Agregado la posibilidad al ciudadano de adjuntar un Correo Electrónico para notificaciones a la hora de crear una comunicación a fin de notificarlo automáticamente cuando su comunicación cambia de estados.</li>
        </ul>
    </div>

    <div class="version">
        <h3 class="version-header">Versión 1.0.1</h3>
        <ul class="version-details">
            <li>Cambio en la gestión estadística de las comunicaciones resueltas.</li>
            <li>Agregado listado global de comunicaciones en dashboard Super Admin.</li>
            <li>Eliminado la posibilidad de Resolver un reclamo previo a ser iniciado.</li>
        </ul>
    </div>

    <div class="version">
        <h3 class="version-header">Versión 1.0.0</h3>
        <ul class="version-details">
            <li>Lanzamiento inicial de la aplicación.</li>
            <li>Agregado Manuales de Usuario.</li>
            <li>Reducción de carácteres/tipos posibles en creación de comunicaciones.</li>
        </ul>
    </div>
</section>
<app-footer></app-footer>