<app-header id="Header_Desktop"></app-header>
<section id="changelog">
    <h2>Mejoras en la Mesa de Entrada Digital</h2>

    <div class="version">
        <h3 class="version-header">Versión 1.0.1</h3>
        <ul class="version-details">
            <li>Cambio en la gestión estadística de las comunicaciones resueltas.</li>
            <li>Agregado listado global de comunicaciones en dashboard Super Admin.</li>
            <li>Eliminado la posibilidad de Resolver un reclamo previo a ser iniciado.</li>
        </ul>
    </div>

    <div class="version">
        <h3 class="version-header">Versión 1.0.0</h3>
        <ul class="version-details">
            <li>Lanzamiento inicial de la aplicación.</li>
            <li>Agregado Manuales de Usuario.</li>
            <li>Reducción de carácteres/tipos posibles en creación de comunicaciones.</li>
        </ul>
    </div>
</section>
<app-footer></app-footer>