<app-header id="Header_Desktop"></app-header>
<body>
    <section class="Section_Info">
        <h1>¿Cómo Realizar una Comunicación?</h1>
        <p style="margin: 30px 0 0 0; width: 100%; text-align: center;">Para más detalles, puedes darle un vistazo a nuestro Manual del Ciudadano haciendo click <strong (click)="RedirectTo('https://tinogasta.gob.ar/MEDi/assets/manuales/MANUAL-Ciudadano-2024.pdf')" style="color: blue; text-decoration: underline; cursor: pointer;">AQUÍ</strong></p>
        <section class="Section_Cards">
            <div class="Info_Card">
                <img src="../../../MEDi/assets/icons/Question_Icon.png">
                <h2>Reúne información relevante:</h2>
                <p>Antes de presentar tu comunicación al municipio, asegúrate de recopilar toda la información relevante relacionada con el problema que deseas plantear. Incluiye detalles sobre la situación, fechas, ubicaciones, etc..</p>
            </div>
            <div class="Info_Card">
                <img src="../../../MEDi/assets/icons/Speaker_Icon.png">
                <h2>Expresa claramente tu comunicación:</h2>
                <p>Cuando completes el formulario, asegúrate de explayarte claramente y seleccionar el carácter y destinación correctos. Proporciona detalles claros para comprender completamente tu situación.</p>
            </div>
            <div class="Info_Card">
                <img src="../../../MEDi/assets/icons/Comment_Icon.png">
                <h2>Sé persistente y educado:</h2>
                <p>Mantén una actitud respetuosa durante todo el proceso de comunicación. Si no recibes una respuesta satisfactoria de inmediato, sigue siendo persistente en tu búsqueda de una solución.</p>
            </div>
            <div class="Info_Card">
                <img src="../../../MEDi/assets/icons/Like_Icon.png">
                <h2>Mantente informado y sigue el proceso:</h2>
                <p>Después de presentar tu comunicación, mantente informado sobre su progreso. Asegúrate de seguir cualquier proceso de seguimiento establecido por el municipio y sé paciente.</p>
            </div>
        </section>
    </section>
</body>
<app-footer></app-footer>