<app-header id="Header_Desktop"></app-header>
<section>
    <div class="Banner_Estadisticas">
        <h1>Estadísticas</h1>
    </div>
    <div class="Animated_Title">
        <div class="Bar_boxes_1">
            <div class="Bar_1"></div>
            <div class="Bar_2"></div>
        </div>
        <h5>ESTADÍSTICAS</h5>
        <div class="Bar_boxes_2">
            <div class="Bar_1"></div>
            <div class="Bar_2"></div>
        </div>
    </div>
    <h1 class="Titulo_Estadisticas">Todas las comunicaciones realizadas</h1>
    <div class="Container">
        <div style="width: 100%;">
            <canvas id="myChart" style="width: 100%;" width="1000" height="400" #mychart></canvas>
        </div>
    </div>
    <h1 style="font-family: Nunito; color: rgb(255, 120, 50); text-align: center; margin: 15px 0 15px 0; border-radius: 5px; padding: 5px;">¡Se han resuelto {{N_resueltos}} comunicaciones hasta ahora!</h1>
</section>
<app-footer></app-footer>