<section id="Loader_Data_2">
    <img src="../../../MEDi/assets/icons/loader_2.gif">
</section>
<div id="Success_ReSend">
    <form [formGroup]="Destinacion" enctype="multipart/form-data">
        <h3>{{Mensaje_Delegar_Function}}</h3>
        <select formControlName="destinacion" required id="Select_Area_Resend">
            <option *ngFor="let area of Areas_row" value="{{area.clave_poder}}">{{area.nombre_area}}</option>
        </select>
        <img class="Btns_Controls" id="Btn_Resend_C" (click)="Reenviar_C()"
            src="../../../MEDi/assets/icons/Send_Icon.png">
        <p id="Cancelar_Btn_Reenviar_C" style="color: white; text-decoration: underline; cursor: pointer;"
            (click)="Cancelar_Reenviar_c()">Cancelar</p>
    </form>
</div>
<div class="Help_Window" *ngIf="Help_Activated">
    <div class="Container_Manuals">
        <h1>Manuales de Usuario</h1>
            <p style="color: rgb(0, 242, 255);" (click)="RedirectTo('https://tinogasta.gob.ar/MEDi/assets/manuales/MANUAL-ResponsableDelArea.pdf')">Manual del Responsable del Área ➚</p>
            <p style="color: rgb(0, 242, 255);" (click)="RedirectTo('https://tinogasta.gob.ar/MEDi/assets/manuales/MANUAL-Operador.pdf')">Manual del Operador ➚</p>
            <p style="color: rgb(255, 255, 255); background-color: rgba(255, 74, 74, 0.4); text-decoration: underline; cursor: pointer;"
            (click)="Activate_Help_Window()">Cancelar ⊘</p>
    </div>
</div>
<div id="Ventana_Emergente_Confirmar_Resuelto">
    <form [formGroup]="Estado">
        <label for="Resolucion_TextArea">Es obligatorio redactar una resolución para confirmar como Comunicación
            Resuelta</label>
        <textarea name="Resolucion" id="Resolucion_TextArea" formControlName="comentario" maxlength="1000"
            placeholder="Resolución de Comunicación...">

            </textarea>
        <p id="Error_Mensaje_Confirmar_Resuelto" style="transition: .3s ease-in-out;">*Aceptado 50 carácteres como
            mínimo y 1000 como máximo.</p>
        <button class="Buttons" (click)="Verificar_Validez_Resolucion()">Confirmar</button>
        <a (click)="Open_Close_Resuelto_Win_1()">Cancelar</a>
    </form>
    <div id="Confirmar_Resuelto_Window">
        <h4>{{Mensaje_Confirmar_Resuelta}}</h4>
        <div style="width: 90%;" id="Buttons_Confirmar_Resuelto">
            <button class="Buttons" (click)="Marcar_Resuelta()">Sí</button>
            <button class="Buttons" (click)="Open_Close_Resuelto_Win()">No </button>
        </div>
    </div>
</div>

<div id="Confirmar_Iniciado_Window">
    <div class="Windows_Confirmar_Iniciado">
        <h4>{{Mensaje_Confirmar_Inicio}}</h4>
        <p>{{Mensaje_Confirmar_Inicio_2}}</p>
        <div style="width: 90%;" id="Buttons_Confirmar_Inicio">
            <button class="Buttons" (click)="Open_Iniciar_Plazo_Window()">No </button>
            <button class="Buttons" (click)="Iniciar_Plazo_V()">Sí</button>
        </div>
    </div>
</div>

<section class="Super_Container" id="Background_N{{Background_N}}">
    <aside class="Panel_Admin">
        <span class="version_span">ver 1.0.0 2024</span>
        <img class="usuario_logo" src="../../../MEDi/assets/icons/User_icon.png">
        <p>Mostrando Panel de Recepción de "{{Area_Data[0].nombre_area}}"</p>
        <fieldset class="Cambio_Color_Panel">
            <legend>Personalización</legend>
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('1')"
                src="../../../MEDi/assets/icons/Screen_Color_1.png">
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('2')"
                src="../../../MEDi/assets/icons/Screen_Color_2.png">
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('3')"
                src="../../../MEDi/assets/icons/Screen_Color_3.png">
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('4')"
                src="../../../MEDi/assets/icons/Screen_Color_4.png">
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('5')"
                src="../../../MEDi/assets/icons/Screen_Color_5.png">
            <img class="Cambio_Screen_Color_Button" (click)="cambiar_color('6')"
                src="../../../MEDi/assets/icons/Screen_Color_6.png">
        </fieldset>
        <fieldset class="Filtros_Comunicados">
            <legend>Filtrar por Carácter del Comunicado</legend>
            <button class="Buttons3 buttons_3_add_styles" id="Btn_1_Filter_Admin_Home"
                (click)="Sugerencia_Filter();GoBack();Remove_Element()">Sugerencias / Reclamos <img
                    src="../../../MEDi/assets/icons/Filter_Icon.png"></button>
            <button class="Buttons3 buttons_3_add_styles" id="Btn_2_Filter_Admin_Home"
                (click)="Denuncia_Filter();GoBack();Remove_Element()">Denuncias<img
                    src="../../../MEDi/assets/icons/Filter_Icon.png"></button>
            <!---  <button class="Buttons3 buttons_3_add_styles" id="Btn_3_Filter_Admin_Home" (click)="Consulta_Filter();GoBack();Remove_Element()">Consultas<img src="../../../MEDi/assets/icons/Filter_Icon.png"></button> -->
            <button class="Buttons3 buttons_3_add_styles" id="Btn_4_Filter_Admin_Home"
                (click)="Solicitud_Filter();GoBack();Remove_Element()">Solicitudes / Consultas<img
                    src="../../../MEDi/assets/icons/Filter_Icon.png"></button>
            <!-- <button class="Buttons3 buttons_3_add_styles" id="Btn_5_Filter_Admin_Home" (click)="Reclamo_Filter();GoBack();Remove_Element()">Reclamos<img src="../../../MEDi/assets/icons/Filter_Icon.png"></button> -->
            <button class="Buttons3 buttons_3_add_styles" id="Btn_6_Filter_Admin_Home"
                (click)="Todos_Filter();GoBack();Remove_Element()">Todos<img
                    src="../../../MEDi/assets/icons/Filter_Icon.png"></button>
        </fieldset>
        <button class="Modified_Button" (click)="Activate_Help_Window()">Ayuda<img
            src="../../../MEDi/assets/icons/info2.png"></button>

        <button class="Buttons buttons_3_add_styles" (click)="NavigateToHome()" *ngIf="this.LogIn3 == false">SALIR<img
                src="../../../MEDi/assets/icons/Door_Icon.png"></button>
        <button class="Buttons buttons_3_add_styles" (click)="GoBack_Super_Admin()" *ngIf="this.LogIn3 == true">⇦
            REGRESAR</button>
    </aside>
    <section class="Data_Show">
        <header class="Header_Filter">
            <div
                style="display: flex; justify-content: start; align-items: center; margin: 0; width: 100%; height: 50%;">
                <button class="Buttons buttons_add_styles" (click)="Get_Recientes();GoBack();Remove_Element()">
                    Actualizar<img src="../../../MEDi/assets/icons/Reload.png">
                </button>
                <button class="Buttons buttons_add_styles" id="Btn_1_Header_Admin_Home"
                    (click)="Get_Recientes();GoBack();Remove_Element()">
                    Recientes<img class="Filter_Icon_Button" src="../../../MEDi/assets/icons/Arrow_Down_Icon.png">
                </button>
                <button class="Buttons buttons_add_styles" id="Btn_2_Header_Admin_Home"
                    (click)="Get_Antiguos();GoBack();Remove_Element()">
                    Antiguos<img src="../../../MEDi/assets/icons/Arrow_Down_Icon.png">
                </button>
            </div>
            <div
                style="display: flex; justify-content: start; align-items: center; margin: 0; width: 100%; height: 50%;">

                <button class="Buttons buttons_add_styles" id="Btn_6_Header_Admin_Home"
                    (click)="Get_Pendientes();GoBack();Remove_Element()">
                    Pendientes<img src="../../../MEDi/assets/icons/Filter_Icon.png">
                </button>
                <button class="Buttons buttons_add_styles" id="Btn_3_Header_Admin_Home"
                    (click)="Get_Iniciados();GoBack();Remove_Element()">
                    Iniciados<img src="../../../MEDi/assets/icons/Filter_Icon.png">
                </button>
                <button class="Buttons buttons_add_styles" id="Btn_4_Header_Admin_Home"
                    (click)="Get_Demorados();GoBack();Remove_Element()">
                    Demorados<img src="../../../MEDi/assets/icons/Filter_Icon.png">
                </button>
                <button class="Buttons buttons_add_styles" id="Btn_5_Header_Admin_Home"
                    (click)="Get_Resueltos();GoBack();Remove_Element()">
                    Resueltos<img src="../../../MEDi/assets/icons/Filter_Icon.png">
                </button>
            </div>
            <p class="Filtros_Aplicados_Show">Filtros Aplicados: <br> <strong
                    style="color: aqua; text-shadow: 0 0 5px black;">{{Filtros_Aplicados_Mensaje}}</strong> <br> <strong
                    style="color: rgb(81, 255, 0); text-shadow: 0 0 5px black;">{{Filtros_Caracteres_Mensaje}}</strong>
            </p>
        </header>
        <div class="Bandeja_Entrada">
            <div id="Registro_Fila_Reclamo" class="Scroll_Box_Container">
                <div id="Loader_Bandeja_Entrada">
                    <img src="../../../MEDi/assets/icons/loader_2.gif">
                </div>
                <div class="Register_Unit_2">
                    <div class="Box_1">
                        ID
                    </div>
                    <div class="Box_2_2">
                        Asunto
                    </div>
                    <div class="Box_3">
                        Carácter
                    </div>
                    <div class="Box_4">
                        Estado
                    </div>
                    <div class="Box_5">
                        Valoración
                    </div>
                    <div class="Box_6" style="font-weight: bold;">
                        Fecha
                    </div>
                </div>
                <div class="Register_Unit" *ngFor="let Reclamo of Reclamos_Filtrados" (click)="Open_Reclamo(
                    Reclamo.id,
    Reclamo.caracter,
    Reclamo.titulo,
    Reclamo.descripcion,
    Reclamo.ubicacion_1,
    Reclamo.ubicacion_2,
    Reclamo.plazo_resolucion,
    Reclamo.vencimientos,
    Reclamo.fecha,Reclamo.hora,
    Reclamo.fecha_v,
    Reclamo.file_1,
    Reclamo.destinacion,
    Reclamo.nombre,
    Reclamo.telefono,
    Reclamo.email,
    Reclamo.domicilio,
    Reclamo.estado,
    Reclamo.anonimo,
    Reclamo.cod_conf,
    Reclamo.conforme,
    Reclamo.feedback,
    Reclamo.comentario,
    Reclamo.fecha_r
                ); Map_Inject_2()">
                    <div class="Box_1">
                        N° {{Reclamo.id}}
                    </div>
                    <p class="Box_2">
                        {{Reclamo.titulo}}
                    </p>
                    <div class="Box_3" style="color: yellow;">
                        {{Reclamo.caracter}}
                    </div>
                    <div class="Box_4" id="COLOR_{{Reclamo.estado}}">
                        {{Reclamo.estado}}
                    </div>
                    <div class="Box_5" id="COLOR_{{Reclamo.conforme}}">
                        {{Reclamo.conforme}}
                    </div>
                    <div class="Box_6">
                        {{Reclamo.fecha | date: 'dd/MM/yyyy'}} <br>
                        {{Reclamo.hora}} HS
                    </div>

                </div>
                <div *ngIf="Reclamos_Filtrados.length === 0" class="No_Registros_Mensaje">
                    <h1>Sin Registros <img src="../../../MEDi/assets/icons/Empty_icon.png"></h1>
                </div>
                <div *ngIf="Reclamos_Filtrados.length === 0" style="margin: 0; width: 100%;
                        height: 50vh;">
                </div>
            </div>
            <div id="Scroll_Box_Container_Open_Reclamo">
                <div class="Controles_Visualizador_Reclamo">
                    <img class="Btns_Controls" (click)="GoBack();Remove_Element()"
                        src="../../../MEDi/assets/icons/GoBack.png">
                    <img *ngIf="Estado_Rec === 'Pendiente'" class="Btns_Controls"
                        src="../../../MEDi/assets/icons/Start_Icon.png" (click)="Open_Iniciar_Plazo_Window()">
                    <img *ngIf="Estado_Rec === 'Pendiente'" class="Btns_Controls" (click)="Get_Areas_Row()"
                        src="../../../MEDi/assets/icons/Send_Icon.png">
                    <img class="Btns_Controls" (click)="generarPDF()" src="../../../MEDi/assets/icons/PDF_Download.png">
                    <img *ngIf="Estado_Rec !== 'Resuelto'" class="Btns_Controls" (click)="Open_Close_Resuelto_Win_1()"
                        src="../../../MEDi/assets/icons/Resuelto_Icon.png">
                </div>
                <h2 class="Titulo_Visual">{{caracter_Rec}}: {{titulo_Rec}}</h2>
                <h2 class="Numero_Visual">Identificador: {{numero_Rec}}</h2>
                <h2 class="Fecha_Visual">Iniciado el {{fecha_Rec | date: 'dd/MM/yyyy'}} a las {{hora_Rec}} Hs</h2>
                <h2 class="Lugar_Visual">Ciudad: Tinogasta</h2>
                <h2 class="Caracter_Visual">Carácter: {{caracter_Rec}}</h2>
                <h2 class="Asunto_Visual">Asunto: {{titulo_Rec}}</h2>
                <h2 class="Plazo_Visual">Plazo de Resolución Actual: {{plazo_Rec}} días</h2>
                <h2 class="Hora_Visual">Próximo Vencimiento: {{fecha_v_Rec}}</h2>
                <h2 class="Vencimientos_Visual">Veces Demorado/Vencido: {{demoras_Rec}}</h2><br>
                <h2 class="Vencimientos_Visual">El Remitente es Anónimo: {{Anonimo_Rec}}</h2>
                <h2 class="Vencimientos_Visual">Nombre: {{Nombre_Rec}}</h2>
                <h2 class="Vencimientos_Visual">Teléfono: {{Telefono_Rec}}</h2>
                <h2 class="Vencimientos_Visual">Domicilio: {{Domicilio_Rec}}</h2>
                <h2 class="Vencimientos_Visual">E-mail: {{Email_Rec}}</h2>

                <h2 class="Sub_Titulo_Visual">Descripción:</h2>
                <h2 class="Descripcion_Visual">{{descripcion_Rec}}</h2>

                <h2 class="Sub_Titulo_Visual">Valoración Ciudadana:</h2>
                <h2 class="Descripcion_Visual" style="text-decoration: underline;">Ciudadano/a {{Conformidad_Rec}}</h2>
                <h2 class="Descripcion_Visual">Mensaje: {{Feedback_Rec}}</h2>

                <h2 class="Sub_Titulo_Visual">Resolución:</h2>
                <h2 class="Descripcion_Visual" style="text-decoration: underline;">Fecha: {{Fecha_r_Rec}}</h2>
                <h2 class="Descripcion_Visual">Resolución: {{Comentario_Rec}}</h2>

                <h2 class="Sub_Titulo_Visual">Ubicación:</h2>
                <h2 class="Ubicacion_Visual">{{ubicacion_Rec}}</h2>
                <h2 class="Ubicacion_Visual">Coordenadas: {{ubicacion_2_Rec}}</h2>

                <a href="{{url_file}}" target="_blank" *ngIf="Archivo_Adjunto == true">Archivo Adjunto ➙
                    {{url_file}}</a>
                <h2 *ngIf="Archivo_Adjunto == false" class="Ubicacion_Visual"
                    style="color: rgb(0, 48, 119); font-weight: bold; margin-top: 15px;">No se ha adjuntado ningún
                    archivo.</h2>
                <h2 class="Marca_Centro_Reclamos">Mesa de Entrada Digital MEDi</h2>
                <h2 class="Marca_Tinogasta">Tinogasta Municipio</h2>
            </div>
        </div>
        <div class="Micro_Container">
            <div class="En_proceso" id="Process_Container_Map">
                <div class="SIN_UBICACION" *ngIf="!Ubicacion_Existe">
                    <img src="../../../MEDi/assets/icons/no_location.png">
                </div>

            </div>
            <div class="Estadistica_Basica">
                <app-estadistica-admin class="Estadisticas_Basicas_c">
                </app-estadistica-admin>
                <img id="Estadisticas_Loader" src="../../../MEDi/assets/icons/Estadisticas_Loader.gif">
            </div>
        </div>
    </section>
</section>