<section id="Menu_Cellphones">
    <div class="Header_Menu">
        <img src="../../../MEDi/assets/img/centro_de_reclamo_logon1.png">
    </div>
    <div id="Menu_Principal">
        <button (click)="navigateTosSeguimiento()">SEGUIMIENTOS</button>
        <button (click)="navigateToAyuda()">AYUDA</button>
        <button (click)="navigateToEstadisticas()">ESTADÍSTICAS</button>
        <button (click)="navigateToContacto()">CONTACTO</button>
        <button (click)="navigateToLogin()" style="background-color: rgb(255,120,50); color: rgb(255, 255, 255);">ACCEDER ➜</button>
    </div>
</section>
<header>
    <img (click)="navigateToHome()" src="{{custom.src}}img/centro de reclamo logo 2.png">
    <img (click)="openMenu()" src="{{custom.src}}icons/Menu.png">
</header>